.DS_STORE
out.compile
out.make.DEPEND
DEPEND
DEPEND.bak
GRACKLE_INFO
.ipynb_checkpoints
__pycache__


temp.show-config
temp.show-flags
temp.show-version
auto_show_version.c
auto_show_config.c
auto_show_flags.c
*-usedvalues
ewald_spc_table_64_dbl.dat
*.txt
restartfiles
cont
*test.e*
*test.o*
*params.restart

Make.config.machine

GIZMO
GIZMO_config.h
compile_time_info.c
.libs

grackle/local/include/*
grackle/local/lib/*

# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
